@model IEnumerable<ExamenFinal.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de productos</h2>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table id="table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioCosto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelNuevoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suspendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioCosto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Existencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NivelNuevoPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suspendido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.idProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.IdCategoria)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdProducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdProducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdProducto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
}